<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | Home</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
      This is where the main text is </br>
      
      <% Train.all.each do |train| %><%=train['name']%></br><%end%>
      </br></br></br>
      <% @train.each do |train| %><%=train['name']%></br><%end%>
             
    </p>
  </body>
</html>
